<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1 class='text-center'><%= @garden.name %></h1>
  </div>
</div>

<div class="container">

<div class="cards mt-5">

  <% @garden.plants.each do |plant| %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.image_url %>)">
      <%= plant.name %>
      <%= link_to plant_path(plant), class: 'card-remove', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <i class="fa-regular fa-trash-can"></i>
      <% end %>
    </div>

  <% end %>

</div>


</div>


<div class="row justify-content-center mt-5">
  <div class="col-4">
    <h1>Add Plant</h1>

    <%= simple_form_for [@garden, @plant] do |f| %>
      <%= f.input :name, placeholder: 'Plant Name' %>
      <%= f.input :image_url, placeholder: 'https://plant-image.com' %>
      <div class="d-grid">
        <%= f.submit 'Add Plant', class: 'btn btn-primary' %>
      </div>
    <% end %>


  </div>
</div>
